@import "./reset.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

:root {
  --bg-grad: radial-gradient(
    ellipse at top,
    #003300 0%,
    #001200 60%,
    #000 100%
  );
  --shadow: 0 0 30px var(--main), inset 0 -20px 40px rgba(255, 0, 234, 0.1);
  --main: #00ff66;
}

body {
  font-family: "Roboto", sans-serif;
}

.theme {
  min-height: 100vh;
  background: var(--bg-grad);
}

.theme.theme-manager {
  background: var(--bg-grad);
  --bg-grad: radial-gradient(
    ellipse at top,
    #1a0540 0%,
    #0a0320 60%,
    #000 100%
  );
  --shadow: 0 0 30px var(--main), inset 0 -20px 40px rgba(255, 0, 234, 0.1);
  --main: #ff00ea;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1240px;
  padding: 0 40px;
}
