.header {
  padding: 30px 0;
  color: #fff;
  box-shadow: var(--shadow);
  border-bottom: 2px solid var(--main);
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.header__logo {
  font-family: Impact, "Arial Black", sans-serif;
  font-style: italic;
  letter-spacing: 2px;
  line-height: 0.95;
  font-weight: bold;
  font-size: clamp(18px, 3vw, 28px);
  background: var(--logo-color-text);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(0 0 8px #ffd700);
}

.switcherWrapp {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 40px;
}

.header__switcherWrapp {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

.header__switcher {
  border: 2px solid #fff;
  padding: 3px;
  border-radius: 20px;
  width: 80px;
  height: 34px;
  cursor: pointer;
  box-shadow: var(--shadow);
}

.darkThemeIcon {
  width: 20px;
  height: 20px;
  filter: brightness(0) invert(1);
}

.light {
  filter: brightness(1) invert(0);
}

.header__switcherButton {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #afafaf;
  transform: translateX(0);
  transition: transform 0.3s ease;
}

.header__switcherUser .header__switcherButton {
  transform: translateX(45px);
}

.header__modeTitle {
  font-size: clamp(14px, 2vw, 18px);
  font-weight: 600;
  font-family: "Courier New", monospace;
  color: #acacac;
}
.activeUser {
  color: #00ff66;
}

.activeManager {
  color: #ff00ea;
}

@media (max-width: 760px) {
  .header__switcher {
    padding: 2px;
    width: 60px;
    height: 27px;
  }
  .switcherWrapp {
    flex-direction: column;
  }
  .header__switcherButton {
    width: 20px;
    height: 20px;
  }
  .header__switcherUser .header__switcherButton {
    transform: translateX(33px);
  }
}

@media (max-width: 540px) {
  .header__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}
